<p>
  Name:
  <%= @person.name %>
</p>
<ul class="phone-numbers">
  <% @person.phones.each do |phone| %>
    <li>
      Type: <%= phone.phone_type %>
      Number: <%= phone.number %>
    </li>
  <% end %>
  <p><%= link_to "Edit", edit_person_path(@person) %></p>
</ul>
